<div class="col-12">
  <button type="submit" class=" btn btn-primary" (click)="refresh()">Refresh</button>
</div>
<div class="">
  <table class="table table-dark table-striped  align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Start</th>
        <th scope="col">Finish</th>
        <th scope="col">Guests</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>


      <tr *ngFor="let item of listEvents$ |async ; let i=index">
        <td scope="row">{{i}}</td>
        <td>{{item.title}}</td>
        <td>{{item.start | date:'short'}}</td>
        <td>{{item.finish | date:'short'}}</td>
        <td><a class="link-primary" (click)="guestsRead(item.id ? item.id : -1)">{{item.description}}</a>
        <td>{{item.description}}</td>
        <td><button class="bi bi-pencil-square" (click)="updateEvents(item.id ? item.id : -1)"></button></td>
        <td><button class="bi bi-calendar-x" (click)="deleteEvents(item.id ? item.id : -1)"></button></td>
      </tr>


    </tbody>
  </table>
</div>
